@model CSBI_test.Models.Task

@{
    ViewData["Title"] = "Create";
}

<h1>Новая задача</h1>

<h4>Создание</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Задача</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Время начала</label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Время окончания</label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Статус задачи</label>
                <input asp-for="ActivityStatus" class="form-control" value="Новая" />
                <span asp-validation-for="ActivityStatus" class="text-danger"></span>
            </div>
            <div class="form-group text-right">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку задач</a>
</div>

