@model IEnumerable<CSBI_test.Areas.Identity.Data.Manager>
@{
    ViewData["Title"] = "Index";
}

<h1>Список менеджеров</h1>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Email</th>
            <th>Должность</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>                
                <td>@user.Name</td>
                <td>@user.SurName</td>
                <td>@user.Email</td>
                <td>@user.Position</td>
            </tr>
        }
    </tbody>

</table>