@{
    ViewData["Title"] = "Задание";
}
<h1>@ViewData["Title"]</h1>


<p>

    Разработать веб-приложение, которое позволяет менеджерам назначать задачи.
</p>
<p>
    Из списка задач каждая задача может быть назначена на любого выбранного менеджера.
</p>
<p>
    Каждый менеджер может закрыть, назначенную ему задачу.
</p>
<p>
    <i class="material-icons" style="color:green">done</i>Также должна быть возможность просмотра задач с истекающим сроком окончания.


</p>
<p>
    <i class="material-icons" style="color:green">done</i>На странице менеджеров - список менеджеров (ФИО; Должность).
</p>
<p>
    На странице всех задач - список задач (Название; Дата и время начала; Дата и время окончания; Статус активности; Кому назначена).
</p>
<p>
    На странице задач с истекающим сроком окончания - список задач, которые должны быть закрытs в ближайшие 2 часа (Задача; Менеджер; Дата и время окончания).

</p>

<p>
    Визуально страницы можно сделать простыми.
</p>


<p>
    Использовать MVC или .net core + JQuery или любой frontend framework (Angular, ReactJs и т.д.).
</p>
<p>
    Результат выполнения (исходные коды) прислать в zip архиве или ссылкой на общедоступные ресурс.
<p>
    Спасибо.
</p>
